

      <tr colspan='6'><td  class="hiddenRow"><strong>
        <div class="collapse sample<%=sample.id%>" >
          Taken at:
        </div>
      </strong></td>
      
      <td  class="hiddenRow">
      <div class="collapse sample<%=sample.id%>" ><%= sample.time.to_s(:long) %></div>
      </td>
      <td></td>
      </tr>



      <tr colspan='6'><td  class="hiddenRow"><strong>
        <div class="collapse sample<%=sample.id%>" >
          Taken at:
        </div>
      </strong></td>
      
      <td  class="hiddenRow">
      <div class="collapse sample<%=sample.id%>" ><%= sample.time.to_s(:long) %></div>
      </td>
      </tr>


   